.container {
  height: 80vh;
  text-align: center;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "Bedroom1 Bedroom1 LivingRoom LivingRoom Kitchen"
    "Bedroom1 Bedroom1 LivingRoom LivingRoom Kitchen"
    "FullBath FullBath LivingRoom LivingRoom Kitchen"
    "Bedroom2 Bedroom2 HalfBath Bedroom3 Bedroom3"
    "Bedroom2 Bedroom2 HalfBath Bedroom3 Bedroom3"; 
}
.Bedroom1 { 
  grid-area: Bedroom1; 
  background-color: #61dafb;
}
.LivingRoom {
  grid-area: LivingRoom; 
  background-color: tan;
}
.Kitchen {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 50px 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "Oven Sink"
      ". ."; 
    grid-area: Kitchen; 
    background-color: orange;
}
.FullBath { 
  grid-area: FullBath; 
  background-color: greenyellow;
}
.Bedroom2 { 
  grid-area: Bedroom2; 
  background-color: #61dafb;
}
.HalfBath { 
  grid-area: HalfBath; 
  background-color: greenyellow;
}
.Bedroom3 {
  grid-area: Bedroom3; 
  background-color: #61dafb;
  }
  .Sink { 
    grid-area: Sink; 
    background-color: brown;
    margin: 0;
  }
  .Oven { 
    grid-area: Oven; 
    background-color: red;
    margin: 0;
  }