.container {
  height: 80vh;
  text-align: center;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "Bedroom1 Bedroom1 LivingRoom LivingRoom Kitchen"
    "Bedroom1 Bedroom1 LivingRoom LivingRoom Kitchen"
    "FullBath FullBath LivingRoom LivingRoom Kitchen"
    "Bedroom2 Bedroom2 HalfBath Bedroom3 Bedroom3"
    "Bedroom2 Bedroom2 HalfBath Bedroom3 Bedroom3"; 
}
.Bedroom1 { 
  grid-area: Bedroom1; 
  background-color: #61dafb;
  padding-top: 40%;
}
.LivingRoom {
  grid-area: LivingRoom; 
  background-color: tan;
  padding-top: 50%;
}
.Kitchen {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 50px 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "Oven Sink"
      "Kitchen Kitchen"; 
    grid-area: Kitchen; 
    background-color: orange;
}
.FullBath { 
  grid-area: FullBath; 
  background-color: greenyellow;
  padding-top: 20%;
}
.Bedroom2 { 
  grid-area: Bedroom2; 
  background-color: #61dafb;
  padding-top: 40%;
}
.HalfBath { 
  grid-area: HalfBath; 
  background-color: greenyellow;
  padding-top: 80%;
}
.Bedroom3 {
  grid-area: Bedroom3; 
  background-color: #61dafb;
  padding-top: 40%;
}
.Sink { 
    grid-area: Sink; 
    background-color: brown;
    padding-top: 20%;
}
.Oven { 
    grid-area: Oven; 
    background-color: red;
    padding-top: 20%;
}
